apiVersion: apps/v1
kind: Deployment
metadata:
  name: detection3
spec:
  replicas: 1   # set to 0 to disable
  selector:
    matchLabels:
      app: detection3
  template:
    metadata:
      labels:
        app: detection3
    spec:
      containers:
      - name: app
        tty: true
        image: dcaulton/detection3-vit:latest
        imagePullPolicy: Always
        env:
          - name: MQTT_BROKER
            value: "mosquitto.mqtt.svc.cluster.local"
          - name: MQTT_PORT
            value: "1883"
          - name: MQTT_USERNAME
            valueFrom:
              secretKeyRef:
                name: detection-app-secrets
                key: MQTT_USERNAME
          - name: MQTT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: detection-app-secrets
                key: MQTT_PASSWORD
        resources:
          limits:
            nvidia.com/gpu: "1"
          requests:
            nvidia.com/gpu: "1"
        volumeMounts:
        - mountPath: /data
          name: experiment-data
      volumes:
        - name: experiment-data
          hostPath:
            path: /mnt/data/detection-experiments/detection3
            type: DirectoryOrCreate
